body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slim {
  max-width: 1100px;
  margin: auto;
  padding: 0 0.5em;
}

/* @media only screen and (max-width: 1140px) {
  .slim {
    margin: 0 0.5em;
  }
} */

.status {
}

.status.loading {
  background-color: lightskyblue;
}

.status.error {
  background-color: orangered;
}

.status.success {
  background-color: palegreen;
}

input[type="button"],
input[type="submit"],
input[type="file"],
button {
  font-size: 1.2rem;
}

.progressbar {
  height: 2ch;
  position: relative;
}

.progressbar .loading {
  height: 100%;
  background-color: lightskyblue;
}

/* for  */
.dropzone-container {
}

.dropzone {
  /* dropzone */
  background: ghostwhite;
  border: 2px gainsboro dashed;
  border-radius: 8px;
  padding: 1em;
}
